html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
}
body {
  font-family: Arial, sans-serif;
  color: #ffffff;
  position: relative;
}
.snowverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10000;
}
.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  object-fit: cover;
  background-color: #000;
}
.multiple-lightnings {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 9999;
}
.lightning-bolt {
  position: absolute;
  width: 80px;
  height: 120px;
  background: url("img/lightning.png") no-repeat center / contain;
  opacity: 0;
  animation: lightning-bolt 6s infinite;
}
.bolt1 {
  left: 20%;
  top: 30%;
  animation-delay: 1s;
}
.bolt2 {
  left: 60%;
  top: 50%;
  animation-delay: 3s;
  transform: scale(0.8);
}
.bolt3 {
  left: 80%;
  top: 20%;
  animation-delay: 5s;
  transform: scale(1.2) rotate(15deg);
}
@keyframes lightning-bolt {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  5% {
    opacity: 1;
  }
  8% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.snowflake {
  position: fixed;
  top: -2rem;
  color: white;
  z-index: 9998;
  user-select: none;
  pointer-events: none;
  animation: snowflakes-fall 5s linear infinite,
    snowflakes-shake 3s ease-in-out infinite;
}
@keyframes snowflakes-fall {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}
@keyframes snowflakes-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
}
.header-logo {
  max-width: 150px;
  margin: 10px;
  display: block;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
  background-color: rgba(20, 20, 20, 0.7);
  border-radius: 12px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
}
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}
.container-banner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 7px;
  background-color: rgba(20, 20, 20, 0.7);
  border-radius: 12px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
}
@media (max-width: 768px) {
  .container-banner {
    padding: 6px;
    border-radius: 7px;
  }
}
.container-banner .slider-container,
.container-banner .slider,
.container-banner .slide {
  margin: 0;
  padding: 0;
}
.container-banner .slide img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
.logo-bar {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.skype-btn {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  background: #ffbc00;
  color: #fff;
  padding: 8px 15px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 0.9rem;
  text-decoration: none;
  transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.skype-btn:hover {
  background: #ffffff;
  color: #0d0d217;
  transform: scale(1.05);
}
.skype-icon {
  width: 20px;
  height: 20px;
  object-fit: cover;
  display: block;
}
.banner-section {
  position: relative;
  background: url("img/banner/1.png") no-repeat center center;
  background-size: cover;
  padding: 150px 20px;
  text-align: center;
  color: #fff;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 12px;
  overflow: hidden;
  transition: background-image 1s ease-in-out;
}
@media (max-width: 768px) {
  .banner-section {
    background-size: contain;
    background-position: center center;
    padding: 30px 10px;
  }
  .banner-content h1 {
    font-size: 1.4rem;
  }
  .banner-content p {
    font-size: 1rem;
  }
  .banner-btn {
    padding: 4px 8px;
    font-size: 0.6rem;
  }
}
.video-banner-section {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 1px;
  box-sizing: border-box;
}
.slider-container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.slider {
  display: flex;
  animation: autoplay-slide 72s infinite;
  animation-timing-function: ease-in-out;
}
@keyframes autoplay-slide {
  0%,
  13.8889% {
    transform: translateX(0);
    opacity: 1;
  }
  13.8889%,
  16.6667% {
    transform: translateX(0);
    opacity: 0;
  }
  16.6667%,
  30.5556% {
    transform: translateX(-100%);
    opacity: 1;
  }
  30.5556%,
  33.3333% {
    transform: translateX(-100%);
    opacity: 0;
  }
  33.3333%,
  47.2222% {
    transform: translateX(-200%);
    opacity: 1;
  }
  47.2222%,
  50% {
    transform: translateX(-200%);
    opacity: 0;
  }
  50%,
  63.8889% {
    transform: translateX(-300%);
    opacity: 1;
  }
  63.8889%,
  66.6667% {
    transform: translateX(-300%);
    opacity: 0;
  }
  66.6667%,
  80.5556% {
    transform: translateX(-400%);
    opacity: 1;
  }
  80.5556%,
  83.3333% {
    transform: translateX(-400%);
    opacity: 0;
  }
  83.3333%,
  97.2222% {
    transform: translateX(-500%);
    opacity: 1;
  }
  97.2222%,
  100% {
    transform: translateX(-500%);
    opacity: 0;
  }
}
.slide {
  min-width: 100%;
  position: relative;
}
.slide img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}
.slide img:hover {
  transform: scale(1.05);
}
.transition-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("img/banner/gecis.gif") center center no-repeat;
  background-size: cover;
  pointer-events: none;
  opacity: 0;
  animation: overlay-animation 72s infinite;
  animation-timing-function: ease-in-out;
}
@keyframes overlay-animation {
  0%,
  13.8889% {
    opacity: 0;
  }
  13.8889%,
  16.6667% {
    opacity: 0.5;
  }
  16.6667%,
  30.5556% {
    opacity: 0;
  }
  30.5556%,
  33.3333% {
    opacity: 0.5;
  }
  33.3333%,
  47.2222% {
    opacity: 0;
  }
  47.2222%,
  50% {
    opacity: 0.5;
  }
  50%,
  63.8889% {
    opacity: 0;
  }
  63.8889%,
  66.6667% {
    opacity: 0.5;
  }
  66.6667%,
  80.5556% {
    opacity: 0;
  }
  80.5556%,
  83.3333% {
    opacity: 0.5;
  }
  83.3333%,
  97.2222% {
    opacity: 0;
  }
  97.2222%,
  100% {
    opacity: 0.5;
  }
}
@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0turn;
  inherits: false;
}
@keyframes gradient-angle {
  to {
    --gradient-angle: 1turn;
  }
}
.list-item,
.small-box {
  animation: 2s gradient-angle infinite linear;
  border: 2px solid transparent;
  background-image: linear-gradient(#584827, #2d230f),
    conic-gradient(
      from var(--gradient-angle),
      #584827 0%,
      #c7a03c 37%,
      #f9de90 40%,
      #c7a03c 43%,
      #584827 50%,
      #584827 60%,
      #c7a03c 77%,
      #f9de90 80%,
      #c7a03c 83%,
      #584827 90%
    );
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}
.list-item {
  width: 200px;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
}
.list-item:hover {
  transform: scale(1.05);
}
.small-box {
  border-radius: 12px;
  width: 150px;
  height: 110px;
  padding: 10px;
  text-align: center;
  font-size: 0.9rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
}
.small-box:hover {
  transform: scale(1.05);
}
.list-item__logo img {
  max-width: 150px;
  max-height: 150px;
  margin: 0 auto 10px;
  object-fit: contain;
  display: block;
}
.list-item__info h3 {
  font-size: 1.5rem;
  color: #ffbc00;
  margin-bottom: 10px;
}
.list-item__info p {
  font-size: 0.9rem;
  color: #ccc;
  margin: 1.5px 0;
}
.list-item__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #ffbc00;
  color: #0d0d27;
  padding: 5px 15px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 0.8rem;
  text-decoration: none;
  transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.list-item__btn:hover {
  background: #ffffff;
  color: #0d0d27;
  transform: scale(1.05);
}
.additional-box-section {
  padding: 20px 0;
  text-align: center;
}
.additional-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.sponsor-section {
  padding: 10px 0;
  text-align: center;
}
.section-title {
  font-size: 2rem;
  margin-bottom: 30px;
}
.section-title span {
  color: #ffbc00;
}
.grid-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.small-space {
  line-height: 1;
  margin-bottom: 2px;
}
@media (max-width: 768px) {
  .grid-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
  }
  .list-item {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }
  .additional-boxes {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
  }
}
.floating-box {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 200px;
  padding: 15px;
  z-index: 9999;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  border: 2px solid transparent;
  background-image: linear-gradient(#584827, #2d230f),
    conic-gradient(
      from var(--gradient-angle),
      #584827 0%,
      #c7a03c 37%,
      #f9de90 40%,
      #c7a03c 43%,
      #584827 50%,
      #584827 60%,
      #c7a03c 77%,
      #f9de90 80%,
      #c7a03c 83%,
      #584827 90%
    );
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  animation: 2s gradient-angle infinite linear;
}
@media (max-width: 768px) {
  .floating-box {
    width: 150px;
    padding: 10px;
  }
}
@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0turn;
  inherits: false;
}
@keyframes gradient-angle {
  to {
    --gradient-angle: 1turn;
  }
}
.floating-box {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
  width: 220px;
  padding: 15px;
  border-radius: 12px;
  border: 2px solid transparent;
  background-image: linear-gradient(#584827, #2d230f),
    conic-gradient(
      from var(--gradient-angle),
      #584827 0%,
      #c7a03c 37%,
      #f9de90 40%,
      #c7a03c 43%,
      #584827 50%,
      #584827 60%,
      #c7a03c 77%,
      #f9de90 80%,
      #c7a03c 83%,
      #584827 90%
    );
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  animation: 2s gradient-angle infinite linear;
}
.floating-box-left {
  left: calc((100vw - 1200px) / 2 - 350px);
}
.floating-box-right {
  right: calc((100vw - 1200px) / 2 - 350px);
}
@media (max-width: 1200px) {
  .floating-box {
    display: none !important;
  }
}
.floating-box-left {
  left: calc((100vw - 1200px) / 2 - 350px);
}
.floating-box-right {
  right: calc((100vw - 1200px) / 2 - 350px);
}
@media (max-width: 1200px) {
  .floating-box {
    display: none !important;
  }
}
.floating-box {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
  width: 200px;
  height: 600px;
  overflow: hidden;
  border-radius: 12px;
  border: 2px solid transparent;
  background-color: rgba(0, 0, 0, 0.7);
}
.floating-box-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 15px;
}
.floating-box-img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: contain;
}
.floating-box-content h3 {
  font-size: 1.2rem;
  color: #ffbc00;
  margin: 8px 0;
}
.floating-box-content p {
  font-size: 0.85rem;
  color: #ccc;
  margin: 3px 0;
  line-height: 1.2;
}
.floating-box-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #ffbc00;
  color: #0d0d27;
  padding: 5px 15px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 0.8rem;
  text-decoration: none;
  margin-top: 8px;
  transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.floating-box-btn:hover {
  background: #ffffff;
  color: #0d0d27;
  transform: scale(1.05);
}
.floating-box-content h3,
.floating-box-content p {
  text-align: center !important;
}
.telegram-float {
  position: fixed;
  bottom: 30px;
  z-index: 9999;
  right: calc((100vw - 1200px) / 2);
}
@media (max-width: 1200px) {
  .telegram-float {
    right: 10px;
  }
}
.telegram-float .btn {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: #ffbc00;
  margin: 30px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #3498db;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;
}
.telegram-float .btn i {
  line-height: 60px;
  font-size: 35px;
  transition: 0.2s linear;
}
.telegram-float .btn:hover i {
  transform: scale(1.3);
  color: #ffbc00;
}
.telegram-float .btn::before {
  content: "";
  position: absolute;
  width: 260%;
  height: 120%;
  background: #3498db;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.telegram-float .btn:hover::before {
  animation: flash 0.7s 1;
  top: -10%;
  left: -10%;
}
@keyframes flash {
  0% {
    left: -100%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    left: -10%;
    top: -10%;
  }
}
.telegram-tooltip {
  position: absolute;
  top: 50%;
  right: 90%;
  transform: translateY(-50%);
  background: #3498db;
  color: #ffffff;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 0.95rem;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 20s ease;
}
.telegram-tooltip::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent transparent #3498db;
}
.telegram-tooltip.visible {
  opacity: 1;
  visibility: visible;
}
.popup-sponsor {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  background: none;
  border: 2px solid #ffffff;
  border-radius: 12px;
  width: 400px;
  padding: 50px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  color: #fff;
  display: none;
}
@media (max-width: 768px) {
  .popup-sponsor {
    width: 85%;
    max-width: 300px;
    padding: 15px;
  }
}
.popup-sponsor.visible {
  display: block;
}
.popup-sponsor::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("img/popup/1.gif") center center / cover no-repeat;
  opacity: 1;
  border-radius: 12px;
  z-index: -1;
}
.close-btn {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 1.5rem;
  line-height: 40px;
  text-align: center;
  background: #ffffff;
  color: #000;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  transition: background 0.3s, color 0.3s;
}
.close-btn:hover {
  background: #ffbc00;
  color: #000;
}
.popup-sponsor .popup-logo {
  max-width: 200px;
  height: auto;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .popup-sponsor .popup-logo {
    max-width: 120px;
  }
}
.popup-sponsor h3 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #ffbc00;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .popup-sponsor h3 {
    font-size: 1.3rem;
  }
}
.popup-sponsor p {
  font-size: 1.5rem;
  font-weight: 400;
  -webkit-text-fill-color: #ffffff;
  -webkit-text-stroke: 0.1px #ffffff;
  color: #ffffff;
  text-shadow: 0 0 5px rgba(200, 200, 200, 0.7),
    0 0 10px rgba(200, 200, 200, 0.7);
  line-height: 1.8em;
  margin-bottom: 15px;
}
.popup-sponsor .container.popup-content {
  position: relative;
  z-index: 1;
  width: 350;
  margin: 0 auto;
  padding: 20px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  text-align: center;
}
@media (max-width: 768px) {
  .popup-sponsor .container.popup-content {
    width: 80%;
    padding: 10px;
  }
}
.footer-section {
  text-align: center;
  padding: 20px;
  color: #ccc;
}
.footer-content img {
  width: 100px;
  height: auto;
  margin: 0 auto;
  display: block;
}
.footer-content p {
  font-size: 0.9rem;
  margin-bottom: 10px;
}
.social-links a {
  color: #ffbc00;
  text-decoration: none;
  font-size: 1rem;
  margin: 0 10px;
  transition: color 0.3s ease-in-out;
}
.social-links a:hover {
  color: #ffffff;
}
